@using Microsoft.AspNetCore.Identity;
@inject SignInManager<MyTracker_App.Models.Auth.User> signInManager;

<ul class="navbar-nav ms-auto align-items-center">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form asp-controller="account" asp-action="logout" method="post" class="d-inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-link nav-link text-dark p-0">Выход</button>
            </form>
        </li>
    } else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="account" asp-action="login">
                Вход
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="account" asp-action="signup">
                Регистрация
            </a>
        </li>
    }
</ul>