@using Microsoft.AspNetCore.Identity;
@inject SignInManager<MyTracker_App.Models.Auth.User> signInManager;

<ul>
    @if (signInManager.IsSignedIn(User))
    {
        <li>
            <form asp-controller="account" asp-action="logout" method="post">
                @Html.AntiForgeryToken()
                <button type="submit">Выход</button>
            </form>
        </li>
    } else
    {
        <li>
            <a style="color: black !important;" asp-controller="account" asp-action="login">
                Вход
            </a>
            <a style="color: black !important;" asp-controller="account" asp-action="signup">
                Регистрация
            </a>
        </li>
    }
</ul>