@{
    ViewData["Title"] = "Only admin and operators can see this";
}

<div>
    <h2 class="text-2xl font-bold uppercase mb-1">
        Отправленные на проверку тикеты
    </h2>
    <p class="text-amber-700">Only admin and operators can see this</p>
</div>>