<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@4"></script>
    <style>
        .required::after {
            font-weight: bold;
            margin-left: 5px;
            content: "*";
            color: red;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
