@using Microsoft.AspNetCore.Identity;
@inject SignInManager<MyTracker_App.Models.Auth.User> signInManager;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-teal-200 rounded-md">
    <h1 class="display-4">Welcome, 
        @if (signInManager.IsSignedIn(User)){
            <text>@User.Identity.Name</text>
        } else {
            <text>Guest</text>
        }
    </h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
